html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body

      h1.h1 Group invetation
      p
      p
    p  Hello,
    p
    p  #{user} #{action} you to the group #{group}
    p  You may want to check it out.
    p
    p  Best regards
    p  Your Meet'n'Eat Team
