html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body

      h1.h1 #{user} #{action} #{event}
      p
      p
    p  Hello,
    p
    p  #{user} #{action} #{event}, which starts at #{time}.
    p  You may want to check it out.
    p
    p  Best regards
    p  Your Meet'n'Eat Team
