html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body

      h1.h1 Your event is due in 30 minutes.
      p
      p
    p  Hello,
    p
    p  Your event #{eventName} is starting at #{eventTime}. Dont't be late.
    p
    p #{eventUrl}
    p
    p  Best regards
    p  Your Meet'n'Eat Team
